.app-container {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  font-weight: bolder;
}

.navbar {
  margin-bottom: 20px;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #007bff;
}

.navbar a:hover {
  text-decoration: underline;
}
